.entry-point-container {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    pointer-events: all;
}

.entry-point-image {
    width: 60px;
    height: 60px;
}