.main-page-container {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0 0 0;
    background-color: #28262B;
}

.main-page-side-bar-container {
    z-index: 1;
    position: absolute;
    left: 1rem;
    top: 1rem;
}