.side-bar-container {
    height: 15rem;
    max-height: 50rem;
    width: 20rem;
    max-width: 20rem;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.side-bar-grid {
    width: 95%;
    max-width: 19rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4.5rem 4.5rem;
    gap: auto;
    align-items: center;
    justify-items: center;
}

.side-bar-element {
    height: 4rem;
    width: 4rem;
    background-color: #D5CCC7;
    cursor: pointer;
}

.side-bar-button-container {
    width: 30%;
    min-width: 5rem;
    background-color: #D5CCC7;
    color: #333333;
    border-radius: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.side-bar-button-container:hover {
    background-color: #333333;
    color: #D5CCC7;
}