.node-container {
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    pointer-events: all;
}

.server-container {
    height: 80px;

}

.job-source-container {
    height: 60px;
}

.node-image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.node-image {
    width: 60px;
    height: 60px;
}

.node-image-label {
    width: 100%;
    height: 75%;
    max-height: 40px;
    font-size: 1rem;
    color: white;
}

.node-handle {
    background: white;
    width: 10px;
    height: 10px;
}