.results-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 20rem;
    height: auto;
    max-height: 80vh;
    border-radius: 2rem;
    background-color: #333333;
    color: #D5CCC7;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.results-modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    position: sticky;
    top: 0;
    background-color: #333333;
    padding-bottom: 0.5rem;
    z-index: 2;
}

.results-modal-header-button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.1s ease;
}

.results-modal-header-button:hover {
    transform: scale(1.10);
    color: #D70040;
}

.results-modal-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.results-modal-section-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    word-break: break-word;
}