.object-properties-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 20rem;
    height: auto;
    border-radius: 2rem;
    background-color: #333333;
}

.object-properties-header {
    width: 95%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #D5CCC7;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
}

.object-properties-header-button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.1s ease;
}

.object-properties-header-button:hover {
    transform: scale(1.10);
    color: #D70040;
}

.object-properties-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    height: auto;
    text-align: left;
    margin-top: 1.5rem;
}

.object-properties-element-text {
    color: #D5CCC7;
}

.object-properties-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.object-properties-button {
    height: 1.8rem;
    min-width: 5.4rem;
    width: auto;
    background-color: #D5CCC7;
    color: #333333;
    border-radius: 1rem;
    cursor: pointer;
    transition: ease 0.5s all;
}

.object-properties-button:hover {
    color: #D5CCC7;
    background-color: #333333;
    border: 1px solid #D5CCC7;
}

.object-properties-element-input {
    width: 9.5rem;
    padding-left: 0.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: #D5CCC7;
    border: none;
    color: #333333;
    transition: ease 0.5s all;
}

.object-properties-element-input:focus {
    background-color: #333333;
    border: 1px solid #D5CCC7;
    color: #D5CCC7;
}

.object-properties-element-select {
    width: 10.15rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: #D5CCC7;
    color: #333333;
    cursor: pointer;
    transition: ease 0.5s all;
}

.object-properties-element-select:hover {
    color: #D5CCC7;
    background-color: #333333;
    border: 1px solid #D5CCC7;
}

.object-properties-multiple-element-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

#entry-point-button {
    width: 8rem;
}