.server-properties-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 20rem;
    height: 30rem;
    background-color: #333333;
}

.server-properties-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.server-properties-element-text {
    color: #D5CCC7;
}

.server-properties-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.server-properties-button {
    height: 1.8rem;
    width: 5.4rem;
    background-color: #D5CCC7;
    color: #333333;
    border-radius: 1rem;
    cursor: pointer;
    transition: ease 0.5s all;
}

.server-properties-button:hover {
    color: #D5CCC7;
    background-color: #333333;
    border: 1px solid #D5CCC7;
}