.canvas-wrapper {
  width: 1300px;
  height: 500px;
  max-height: 80vh;
  max-width: 90vw;
  background-color: #000000;
  border: 1px solid #71797e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.canvas-react-flow-board {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.react-flow__background {
  pointer-events: none !important;
}

.react-flow__edges, .react-flow__nodes {
  pointer-events: all !important;
}

.canvas-react-flow-board:active {
  cursor: grabbing;
}