.object-properties-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    width: 20rem;
    height: auto;
    max-height: 90vh;
    border-radius: 2rem;
    background-color: #333333;
    overflow-y: auto;
}

.object-properties-header {
    width: 95%;
    background-color: #333333;
    min-height: 4rem;
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #D5CCC7;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
}

.object-properties-header-button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.1s ease;
}

.object-properties-header-button:hover {
    transform: scale(1.10);
    color: #D70040;
}

.object-properties-header-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.object-properties-section-container {
    width: 100%;
    display: block;
    flex-direction: column;
}

.object-properties-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    height: auto;
    text-align: left;
    margin-top: 1.5rem;
}

.object-properties-element-text {
    color: #D5CCC7;
}

.object-properties-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.object-properties-button {
    height: 1.8rem;
    min-width: 5.4rem;
    padding: 0 0.5rem 0 0.5rem;
    width: auto;
    background-color: #D5CCC7;
    color: #333333;
    border-radius: 1rem;
    cursor: pointer;
    transition: ease 0.5s all;
}

.object-properties-button:hover {
    color: #D5CCC7;
    background-color: #333333;
    border: 1px solid #D5CCC7;
}

.object-properties-element-input {
    width: 9.5rem;
    padding-left: 0.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: #D5CCC7;
    border: none;
    color: #333333;
    transition: ease 0.5s all;
}

.object-properties-element-input:focus {
    background-color: #333333;
    border: 1px solid #D5CCC7;
    color: #D5CCC7;
}

.object-properties-element-select {
    width: 10.15rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: #D5CCC7;
    color: #333333;
    cursor: pointer;
    transition: ease 0.5s all;
}

.object-properties-element-select:hover {
    color: #D5CCC7;
    background-color: #333333;
    border: 1px solid #D5CCC7;
}

.object-properties-multiple-element-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.object-properties-multiple-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    height: auto;
    text-align: left;
    margin-top: 0.5rem;
}

.object-properties-multiple-element-input {
    width: 7rem;
}

#job-source-button {
    width: 8rem;
}

.object-properties-container::-webkit-scrollbar {
    width: 6px;
}

.object-properties-container::-webkit-scrollbar-track {
    background: transparent;
}

.object-properties-container::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 10px;
    transition: background 0.2s ease, width 0.2s ease;
}

.object-properties-container::-webkit-scrollbar-thumb:hover {
    background: #888888
}

.object-properties-section-container::-webkit-scrollbar {
    width: 4px;
}

.object-properties-section-container::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 8px;
}

.object-properties-container {
    scrollbar-width: thin;
    scrollbar-color: #555555 transparent;
}