.app-container {
  text-align: center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.react-flow__node, .react-flow__node * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.react-flow__node img {
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
}