.dropdown-container {
    height: 3rem;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.dropdown-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.dropdown-button {
    position: absolute;
    right: 6%;
    cursor: pointer;
    height: 3rem;
    width: 2rem;
    font-size: 1.2rem;
    transition: ease 0.5s all;
}